@using Lombiq.Layouts.Elements
@using Orchard.Layouts.Helpers

@{
    Style.Require("OwlCarousel");
    Script.Require("OwlCarousel").AtFoot();

    var tagBuilder = TagBuilderExtensions.CreateElementTagBuilder(Model, "section");
    var sliderElement = (Slider)Model.Element;
    var identity = Model.Identity;
}

@tagBuilder.StartElement
@if (sliderElement != null)
{
    if (sliderElement.DisplayNavigationButtons && sliderElement.DisplayNavigationOnTop && sliderElement.DisplayOnlyButtonsOnTop)
    {
        <div class="owl-theme">
            <div class="owl-controls">
                <div id="@identity" class="owl-buttons">
                    <div class="owl-prev">@T("prev")</div>
                    <div class="owl-next">@T("next")</div>
                </div>
            </div>
        </div>
    }
}
<div class="lombiq-layouts-slider-@identity owl-carousel">
    @foreach (var item in Model.Items)
    {
        <div class="item">
            @Display(item)
        </div>
    }
</div>
@tagBuilder.EndElement

@using (Script.Foot())
{
    if (sliderElement != null)
    {
        <script type="text/javascript">
            //<![CDATA[
            $(document).ready(function () {

                var owl = $(".lombiq-layouts-slider-@identity");

                owl.owlCarousel({
                    @if (sliderElement.ItemsToShow == 1)
                    {
                        @:singleItem: true,
                    }
                    else
                    {
                        @:items: @sliderElement.ItemsToShow.ToString().ToLower(),
                    }
                    autoPlay: @(sliderElement.Autoplay == 0 ? "false" : sliderElement.Autoplay.ToString()),
                    stopOnHover: true,
                    pagination: @sliderElement.DisplayDots.ToString().ToLower(),
                    navigation: @((sliderElement.DisplayNavigationButtons && !sliderElement.DisplayOnlyButtonsOnTop) ? "true" : "false"),
                    paginationSpeed: 1000,
                    goToFirstSpeed: 2000,
                    itemsScaleUp: @sliderElement.ItemsScaleUp.ToString().ToLower(),
                    transitionStyle: "@sliderElement.TransitionStyle.ToString()",
                    @if (sliderElement.DisplayNavigationOnTop && !sliderElement.DisplayOnlyButtonsOnTop)
                    {
                        @:afterInit: function(elem) {
                        @:    var that = this;
                        @:    that.owlControls.prependTo(elem);
                        @:}
                    }
                });

                @if (sliderElement.DisplayNavigationButtons && sliderElement.DisplayNavigationOnTop && sliderElement.DisplayOnlyButtonsOnTop)
                {
                    @:$(".owl-next").click(function(){
                    @:    owl.trigger("owl.next");
                    @:})
                    @:$(".owl-prev").click(function(){
                    @:    owl.trigger("owl.prev");
                    @:})
                }
            });
            //]]>
        </script>
    }
}