@model Lombiq.Layouts.Elements.Slider

<fieldset>
    <legend>@T("Carousel-specific settings")</legend>
    <ol>
        <li>
            @Html.CheckBoxFor(m => m.IsInfinite)
            @Html.LabelFor(m => m.IsInfinite, @T("Infinite scrolling").Text, new { @class = "forcheckbox" })
            @Html.Hint(T("Check for infinite scrolling."))
        </li>
        <li>
            @Html.LabelFor(m => m.ItemsToShow, @T("Number of slides to show at a time"))
            @Html.TextBoxFor(m => m.ItemsToShow)
            @Html.Hint(T("The number of how many slides appear at a time."))
        </li>
        <li>
            @Html.LabelFor(m => m.ItemsToScroll, @T("Number of slides to scroll at a time"))
            @Html.TextBoxFor(m => m.ItemsToScroll)
            @Html.Hint(T("The number of how many slides scroll at a time."))
        </li>
        <li>
            @Html.CheckBoxFor(m => m.IsAutoplay)
            @Html.LabelFor(m => m.IsAutoplay, @T("Autoplay").Text, new { @class = "forcheckbox" })
            @Html.Hint(T("Enables auto play of slides."))
        </li>
        <li>
            @Html.LabelFor(m => m.AutoplaySpeed, @T("Autoplay speed"))
            @Html.TextBoxFor(m => m.AutoplaySpeed)
            @Html.Hint(T("Auto play change interval. Speed in milliseconds."))
        </li>
    </ol>
</fieldset>